<h1 class="text-center my-1">Chocolate list</h1>
<div class="text-right">
  <%= link_to "新規作成", new_admin_chocolate_path %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">id</th>
      <th scope="col" class="text-center">name</th>
      <th scope="col" class="text-center">detail</th>
      <th scope="col" class="text-center">image</th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
  <% @chocolates.each do |chocolate| %>
  <tr class="text-center">
    <td><%= chocolate.id %></td>
    <td><%= chocolate.name %></td>
    <td><%= chocolate.detail %></td>
    <td><%= chocolate.image.attached? %></td>
    <td><%= link_to chocolate.name, admin_chocolate_path(chocolate), method: :get %></td>

    <td>
      <ul>
        <li class='list-inline-item'>
          <%= button_to "編集", edit_admin_chocolate_path(chocolate), method: :get, class: "btn btn-secondary" %>
        </li>
        <li class='list-inline-item'>
          <%= button_to "削除", admin_chocolate_path(chocolate), method: :delete, data: { confirm: '本当に削除してもよろしいですか？'}, class: "btn btn-danger" %>
        </li>
      </ul>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
