<div class="form">
  <div class="card border-0">
    <div class="card-name">
      <h1><%= @tired_choco.name %></h1>
    </div>
    <div class="card-body">
    <div class="mb-5">
      <% if @tired_choco.image.blank? %>
        <%= image_tag 'bar-chocolate.png', id: 'checklist' , size: "350x200"%>
      <% else %>
        <%= image_tag @tired_choco.image.variant(resize: "350x200").processed, id:'checklist' %>
      <% end %>
    </div>
      <h3><%= @tired_choco.detail %></h3>
    </div>
    <div class="result-chart mb-5">
    <div id="chart"  data-sweet-value="<%= @tired_review.sweet %>" data-cacao-value="<%= @tired_review.cacao %>" data-appearance-value="<%= @tired_review.appearance %>" data-texture-value="<%= @tired_review.texture %>" data-melt-value="<%= @tired_review.melt %>" ></div>
    <canvas id="myChart" width="100px" height="100px"></canvas>
    </div>

  <div id="main" class="fixed-buttom text-right">
  <%= link_to "https://twitter.com/share?&url=https://choosechocolate.herokuapp.com/&text=あなたの疲れを癒すのは#{@tired_choco.name}です！&hashtags=choosechocolate,癒しのチョコ&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer', class: "twitter btn" do %>
  <i class="fab fa-twitter share-button"></i>
  <% end %>
  </div>
  
  <div class="text-center">
  <%= link_to chocolates_path, class:'btn btn-choco-list' do %>
  <p>チョコレート一覧</p>
  <% end %>
  </div>
</div>

<%= javascript_pack_tag 'pages/result_chart' %>
