<div class="form">
  <% @exhausted_choco.each do |choco| %>
    <div class="card border-0">
      <div class="card-name">
        <h1><%= choco.name %></h1>
      </div>
      <div class="card-body">
        <% if choco.image.blank? %>
          <%= image_tag 'bar-chocolate.png', id: 'checklist' , size: "450x300"%>
        <% else %>
        <%= choco.image %>
        <% end %>
        <h3><%= choco.detail %></h3>
      </div>
      <div class=result-chart>
    <div id="chart"  data-sweet-value="<%= @exhausted_review.sweet %>" data-cacao-value="<%= @exhausted_review.cacao %>" data-appearance-value="<%= @exhausted_review.appearance %>" data-texture-value="<%= @exhausted_review.texture %>" data-melt-value="<%= @exhausted_review.melt %>" ></div>
    <canvas id="myChart" width="150px" height="150px"></canvas>
    </div>
  <% end %>
  <%= link_to chocolates_list_path, class:'btn btn-choco-list' do %>
  <p>チョコレート一覧</p>
  <% end %>
<div>

<%= javascript_pack_tag 'pages/result_chart' %>
