<div class="form">

<%# 診断項目一覧 %>
  <div id="question01" class="card">
    <p>Q1.aaaaaaa</p>
      <%= link_to "#", class: "button q1", id: "q1_01", data: {id: 1}, "data-turbolinks": false do %>
      <div>so good</div>
      <% end %>
      <%= link_to "#", class: "button q1", id: "q1_02", data: {id: 2}, "data-turbolinks": false do %>
      <div>good</div>
      <% end %>
      <%= link_to "#", class: "button q1", id: "q1_03", data: {id: 3}, "data-turbolinks": false do %>
      <div>bad</div>
      <% end %>
      <%= link_to "#", class: "button q1", id: "q1_04", data: {id: 4}, "data-turbolinks": false do %>
      <div>so bad</div>
      <% end %>
  </div>

  <div id="question02" class="card" style="display: none;">
    <p>Q2.bbbbbb</p>
      <%= link_to "#", class: "button q2", id: "q2_01", data: {id: 1}, "data-turbolinks": false do %>
      <div>so good</div>
      <% end %>
      <%= link_to "#", class: "button q2", id: "q2_02", data: {id: 2}, "data-turbolinks": false do %>
      <div>good</div>
      <% end %>
      <%= link_to "#", class: "button q2", id: "q2_03", data: {id: 3}, "data-turbolinks": false do %>
      <div>bad</div>
      <% end %>
      <%= link_to "#", class: "button q2", id: "q2_04", data: {id: 4}, "data-turbolinks": false do %>
      <div>so bad</div>
      <% end %>
  </div>

  <div id="question03" class="card" style="display: none;">
    <p>Q3.cccccc</p>
      <%= link_to "#", class: "button q3", id: "q3_01", data: {id: 1}, "data-turbolinks": false do %>
      <div>so good</div>
      <% end %>
      <%= link_to "#", class: "button q3", id: "q3_02", data: {id: 2}, "data-turbolinks": false do %>
      <div>good</div>
      <% end %>
      <%= link_to "#", class: "button q3", id: "q3_03", data: {id: 3}, "data-turbolinks": false do %>
      <div>bad</div>
      <% end %>
      <%= link_to "#", class: "button q3", id: "q3_04", data: {id: 4}, "data-turbolinks": false do %>
      <div>so bad</div>
      <% end %>
  </div>

  <div id="question04" class="card" style="display: none;">
    <p>Q4.dddddd</p>
      <%= link_to "#", class: "button q2", id: "q4_01", data: {id: 1}, "data-turbolinks": false do %>
      <div>so good</div>
      <% end %>
      <%= link_to "#", class: "button q2", id: "q4_02", data: {id: 2}, "data-turbolinks": false do %>
      <div>good</div>
      <% end %>
      <%= link_to "#", class: "button q2", id: "q4_03", data: {id: 3}, "data-turbolinks": false do %>
      <div>bad</div>
      <% end %>
      <%= link_to "#", class: "button q2", id: "q4_04", data: {id: 4}, "data-turbolinks": false do %>
      <div>soo bad</div>
      <% end %>
  </div>

  <div id="result" class="btn btn-light" style="display: none;">
    <h2>診断結果は・・・</h2>
  </div>

<%# 回答一覧 %>

  <div id="answer01" class="result" style="display: none;">
    <h2>今すぐチョコと共に休もう。</h2>
    <%= link_to "#", class: "btn" do %>
    <div>ピッタリなチョコは</div>
    <% end %>
  </div>

  <div id="answer02" class="result" style="display: none;">
    <h2>お疲れ気味です。</h2>
    <%= link_to "#", class: "btn" do %>
    <div>ピッタリなチョコは</div>
    <% end %>
  </div>

  <div id="answer03" class="result" style="display: none;">
    <h2>いい刺激のストレス！！</h2>
    <%= link_to "#", class: "btn" do %>
    <div>ピッタリなチョコは</div>
    <% end %>
  </div>

  <div id="answer04" class="result" style="display: none;">
    <h2>ストレスなし！！</h2>
    <%= link_to "#", class: "btn" do %>
    <div>ピッタリなチョコは</div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'pages/chocolate_choice' %>
