<!DOCTYPE html>
<html>
  <head>
    <title>ChooseChocolate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# TwitterCardの読み込み %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@s_a_ito_u" /> 
    <meta property="og:url" content="https://choosechocolate.herokuapp.com/" />
    <meta property="og:title" content="ChooseChocolate" />
    <meta property="og:description" content=あなたの疲れを取るチョコを選びます。 />
    <meta property="og:image" content="<%= content_for(:image_url, full_url_for("assets/images/bar-chocolate.png")) %>" />
  </head>
  <body>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
